.shop{
    height: 400px;
    background-color: skyblue;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.shop>a{
    font-size: 40px;
    border-radius: 12px;
    border: none;
    background-color:green;
    color: white;
    outline: none;
    cursor: pointer;
}